<html>
    <head>
        <title>Light</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <div id="wrapper">
            <form method="POST" id="form-on" action="/power-on">
                <input id="btn-on" class="btn" value="ON" type="submit">
            </form>
            <form method="POST" id="form-off" action="/power-off">
                <input id="btn-off" class="btn" value="OFF" type="submit">
            </form>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>
